*, ul, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* 헤더 상단 광고 영역*/
.header-top-ad {
    height: 80px;
    background-color: black;
    /* 자식요소 가운데 정렬 */
    text-align: center;
    overflow: hidden;
}
.header-top-ad a {
    /* 종료 버튼 위치 선정을 위한 relative position */
    position: relative;
    display: inline-block;
}
.top-ad-close-btn {
    position: absolute;
    top: -60px;
    right: 20px;
}


/* 헤더1 - 헤더 컨텐츠 영역(로고, 서비서아이콘) */
.header-contents {
    height: 112px;
    background-color: white;
}
.header-contents-container {
    width: 980px;
    margin: auto;
    padding: 30px 6px 25px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* cgv로고 */
.cgv-logo-container {
    display: flex;
}
.cgv-logo-container a {
    text-decoration-line: none;
}
.cgv-logo-container img {
    width: 117px;
    height: 53px;
}
/* cgv 로고 옆 텍스트 */
.cgv-logo-container span {
    height: 53px;
    color: #222222;
    letter-spacing: 0.35em;
    align-content: end;
}

/* 서비스 아이콘 옆 카드광고 */
.cgv-service-container {
    display: flex;
    list-style-type: none;
}
.cgv-service-card-ad {
    display: flex;
    align-items: center;
}
.cgv-service-card-ad img {
    width: 136px;
    height: 39px;
}
/* 서비스 아이콘들 */
.cgv-service-icon {
    /* border: 1px solid black; */
    padding-left: 30px;
}
.cgv-service-icon a {
    display: flex;
    /* 이미지 아래 텍스트가 위치하도록 수직배치 */
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cgv-service-icon img {
    width: 36px;
    height: 36px;
}
.cgv-service-icon span {
    font-size: 13px;
    color: #666666;
    letter-spacing: -0.1em;
}










